<%= @created_updated_info %>

<%= form_for @theatre,
  url: theatre_path(@theatre.url),
  html: { class: 'form' } do |theatre| %>

  <%= render 'partials/error_count', count: @theatre.errors.count %>

  <div class='form-item'>
    <%= theatre.label :name, class: 'label mandatory' %>
    <%= theatre.text_field :name, class: 'input text-input', maxlength: 255 %>
    <%= render partial: 'partials/error', collection: @theatre.errors[:name] %>
  </div>

  <%= theatre.submit nil, class: 'button' %>
<% end %>
