<% provide(:title, 'Reset Password') %>

<h1 class='header-text'>Reset Password</h1>

<fieldset class='form'>
  <%= form_for(@user, url: password_reset_path(params[:id])) do |user| %>
    <%= render 'partials/error_count', count: @user.errors.count %>

    <%= hidden_field_tag :email, @user.email %>

    <div class='form-item'>
      <%= user.label :password, class: 'label' %>
      <%= user.password_field :password, class: 'input' %>
      <%= render partial: 'partials/error', collection: @user.errors[:password] %>
    </div>

    <div class='form-item'>
      <%= user.label :password_confirmation, class: 'label' %>
      <%= user.password_field :password_confirmation, class: 'input' %>
      <%= render partial: 'partials/error', collection: @user.errors[:password_confirmation] %>
    </div>

    <%= user.submit 'Reset Password', class: 'button' %>
  <% end %>
</fieldset>
