<% provide(:title, "#{@page_title} (user)") %>

<%= @content_header %>

<h1 class='title-text'><%= @page_title %></h1>

<%= @status_info %>

<% if current_user? @user %>
  <%= button_to 'Edit User', edit_user_path(@user), method: :get, class: 'button' %>
<% end %>

<% if valid_admin_status_assignor? @user %>
  <%= button_to 'Edit Admin Status', edit_admin_status_path(@user), method: :get, class: 'button' %>
<% end %>

<% if valid_suspension_status_assignor? @user %>
  <%= button_to 'Edit Suspension Status', edit_suspension_status_path(@user), method: :get, class: 'button' %>
<% end %>

<% if valid_destroy_user? @user %>
  <%= button_to 'Delete User', @user, method: :delete, class: 'button', data: { confirm: 'Really delete this user?' } %>
<% end %>
