<fieldset class='form'>
  <%= form_for @production do |production| %>
    <%= render 'partials/error_count', count: @production.errors.count %>

    <div class='form-item'>
      <%= production.label :title, class: 'label' %>
      <%= production.text_field :title, class: 'input' %>
      <%= render partial: 'partials/error', collection: @production.errors[:title] %>
    </div>

    <%= production.submit nil, class: 'button' %>
  <% end %>
</fieldset>
