<% provide(:title, "Edit user admin status: #{@page_title}") %>

<%= @content_header %>

<p class='title-text'>Edit user admin status: <%= @page_title %></p>

<%= @status_assigned_info %>

<%= form_for @user, html: { class: 'form' }, url: admin_status_path(params[:user_id]) do |user| %>

  <%= user.fields_for :admin do |admin| %>
    <div class='form-item'>
      <%= admin.check_box :_destroy, { checked: admin.object.persisted? }, '0', '1' %>
      <%= admin.label :_destroy, 'Admin status', class: 'checkbox' %>
    </div>
  <% end %>

  <%= user.submit 'Update Admin Status', class: 'button' %>
<% end %>
