<% provide(:title, 'Edit User Admin Status') %>

<h1 class='header-text'>Edit User Admin Status</h1>

<fieldset class='form'>
  <%= form_for(@user, url: admin_status_path(params[:id])) do |f| %>

    <%= f.fields_for :admin do |a| %>
      <div class='form-item'>
        <%= a.label :status, class: 'label' do %>
          <span>Admin status</span>
          <%= a.check_box :status, class: 'input' %>
        <% end %>
      </div>
    <% end %>

    <%= f.submit 'Update Admin Status', class: 'button' %>
  <% end %>
</fieldset>
