<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
    <div id="container">

      <%= render 'layouts/header' %>

      <%= render 'layouts/navigation' %>

      <%= render 'layouts/content' %>

      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
